<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido a Nimbo</h2>
  <ion-item>
    <ion-label position="stacked">Correo electrónico</ion-label>
    <ion-input type="email" placeholder="correo@ejemplo.com" />
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" placeholder="••••••••" />
  </ion-item>
  <ion-button expand="block" class="ion-margin-top" (click)="login()">Entrar</ion-button>
</ion-content>
