<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" />
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="swap-horizontal" />
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cards">
      <ion-icon name="card" />
      <ion-label>Tarjetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="bar-chart" />
      <ion-label>Análisis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
